.App {
  text-align: center;
}

.box{
  max-width: 450px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  padding: 10px;
}
p{
    font-size:24px;
    margin-top: 24px;
    text-align:center;
}
.box button{
  padding: 10px;
  font-size: 18px;
  border: 0px;
  cursor: pointer;
  margin: 20px 10px;
  border-radius: 5px;
  width: 120px;
}

button.btn_add{
  background-color: #18978F;
}
button.btn_sub{
  background-color: #d62ea7;
}
button.btn_reset{
  background-color: #f36804;
}

.box input{
  font-size: 18px;
  background-color:bisque
}