.card{
    width:350px;
    margin:20px;
    color: white;
    background: linear-gradient(to right,#2E3192 , #1BFFFF);
    padding: 4px 6px;
    border-radius:10px;
    box-shadow: 0 0 10px black;
    display: inline-block;    
}
.card-body{
    text-align: justify;
}
.card h2{
    color:black
}